,# Auto detect text files and perform LF normalization
* text=auto
#define src/clientversion.cpp
#define (http://valueadd;'syntax' src/local/ipx.id) 'merge' (data.spike.txt)
$Build valueadd.id and data.spike.txt
